@media (min-width: 1080px) {
   body > header {
    flex-direction: row; align-items: center;;
    padding: 16px 32px;
   }

   body > main { flex-direction: row; text-align:left;}

   body > main > article {margin: 32px;
}
body > main > article > footer {flex-direction: row;
    text-align: left;
    align-items: left; align-items: center;
} 
body > main > article > footer >img {margin-right: 25px;}


}